<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Omaimage</vendor>
  <vendor_url>https://omarchy.org</vendor_url>
  <action id="io.omacom.omaimage.write">
    <description>Write an image to a USB drive</description>
    <description xml:lang="de">Abbild auf einen USB-Stick schreiben</description>
    <message>Omaimage needs administrator rights to write the USB drive.</message>
    <message xml:lang="de">Omaimage braucht Administratorrechte, um den USB-Stick zu beschreiben.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/omaimage</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
